/* ============== reset ================= */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#707070;background:#fff;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-size:625%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
body{font-family:"microsoft yahei",Arial,"宋体","Arial Narrow",HELVETICA;color:#626262;background:#fff;font-size:0.12rem;line-height:1.5;}
/* 重设 HTML5 标签 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;outline:none}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:500;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
a{text-decoration:none;outline:none;color:#535353;}
input, textarea {outline: medium none; vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align */
th{text-align:inherit;}
textarea,select{vertical-align:middle;}
a,button,input{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}

.clears{ width: 100%; height: 0; clear: both; }




